/* Estilos Gerais */

@import 'grid.css';
@import 'normalize.css';
@import 'reset.css';
@import 'responsivo.css';
@import 'sobre.css';
@import 'pets.css';
/* @import 'login.css'; */
@import 'util.css';

.logo {
	max-width: 150px;
	max-height: 100px ;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

a:hover {
	text-decoration: none;
}
img {
	
	display: block;
	max-width: 100%;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}
.inscricao {
	background: url("/assets/img/cadog.jpg") no-repeat left;
	width: 100%;
	padding: 40px 0 80px 0;	

}
.inscricao form {
	float:right;
}

.inscricao h3 {
	color: #005073;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.btn {
	border: 3px solid #005073;
	padding: 10px 30px;
	color: #005073;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	transition: all .5s ease;
	min-width: 200px;
	margin-bottom: 30px;
}

.btn:hover {
	color: #bd7f42;
	border-color: #bd7f42;
}

.btn.btn-preto:hover {
	color: #bd7f42;
	border-color: #bd7f42;
}

.subtitulo {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #005073;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 0px 20px 0px;
	
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #005073;
	margin: 8px auto;
}

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #005073;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-top: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #005073;
	margin: 8px 0;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #bd7f42; /* Amarelo */
	padding: 5px 0;
	z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	line-height: 75px;
	height: 75px;
	vertical-align: middle;
}

.header_menu ul li a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
	transition: all .3s ease;
}

.header_menu ul li a:hover {
	color: #005074;
}

.header_menu ul li a.menu_ativo {
	color: #005074;
}


.header .user {
	min-width: 150px;
	text-align: left;
}

.header .user table {
	margin-top: 15px;
}

.header .user img {
	margin-right: 12px;
}

.header .user .row {
	line-height: 14px;
}

.header .user .btn {
	background: none;
	border: none;
	padding: 0;
	font-size: 14px;
	font-style: italic;
	color: #fff;
	text-transform: none;
	font-weight: normal;
	margin-bottom: 0;
	min-width: auto;
}

.header .user button:hover {
	color: #005074;
}

/* Profile */

.profile .profile-thumb {
	padding-bottom: 20px;
}

.profile .profile-thumb img{
	margin: 0 auto;
}

/* Pets */

.meus-pets .pet .modal p,
.animais.container .modal p {
	color: #005073 !important;
	font-family: Arial, Helvetica, sans-serif;

}

.meus-pets .pet .checkbox label,
.meus-pets .pet .radio label,
.animais.container .checkbox label, 
.animais.container .radio label {
	color: #005073;
}

.meus-pets .pet .btn-primary ,
.animais.container .btn-primary  {
	background-color: #005073;
	color: #fff;

}

.meus-pets .pet .btn-primary:hover,
.animais.container .btn-primary:hover{
	background-color: #bd7f42;
}

.meus-pets .pet h5,
.meus-pets .pet h4,
.animais.container h5, 
.animais.container h4{
	color: #005073;
}

.meus-pets .pet .modal-footer .btn,
.animais.container .modal-footer .btn{
	margin-bottom: 0;
	font-weight: normal;
	font-size: 12px;
	width: 49%;
}

/* Introdução */

.introducao {
	width: 100%;
	height: 380px;
	background: url("/assets/img/bg.jpg") no-repeat center;
	background-size: cover;
	margin-top: 80px;
	text-align: center;
	
}

.introducao h1 {
	font-size: 48px;
	color: #005074;
	font-weight: bold;
	text-transform: uppercase;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: #005074;
}

.quote-externo p {
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #005074;
	margin: 14px auto 10px auto;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

/*Introducao Interna*/

.introducao-interna {
	width: 100%;
	margin-top: 80px;
	height: 160px;
	text-align: center;
	color: #fff;
	
}


.introducao-interna h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 6px auto 10px auto;
}


/*animais*/

.animais {
	padding: 60px 0;
	color: #fff;
}

.animais_lista li{
	background: #bd7f42;
	text-align: center;
}

.animais_lista li img {
	margin: 0 auto;
}

.animais_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.animais_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 2px auto;
}

.animais_lista li p {
	padding: 10px 20px 20px 20px;
}

.animais_icone {
	background: #b9b9b9;
	padding: 20px;
}

.call {
	padding-top: 20px;
	text-align: center;
	clear: both;
}

.call p{
	margin-bottom: 20px;
	color: #005073;
}

/*Portfólio*/

.portfolio {
	width: 100%;
	background: #000;
	padding: 40px 0;
}

.portfolio .subtitulo {
	color: #fec63e;
}

.portfolio .subtitulo:after {
	background: #fec63e;
}

.portfolio_lista div:last-of-type {
	margin-top: 20px;
}

.portfolio .call p {
	color: #fff;
}

/*Qualidade*/

.qualidade {
	padding: 60px 0;
}

.qualidade:after {
	content: "";
	width: 634px;
	height: 83px;
	display: block;
	background: url("/assets/img/linhas.png") no-repeat center;
	position: absolute;
	top: 170px;
	right: 163px;
	z-index: 0;
}

.qualidade img{
	margin: 0 auto;
}

.qualidade_lista {
	padding-top: 20px;
	overflow: auto; /* clear-fix */
	margin-bottom: 20px;
}

.qualidade_lista li {
	text-align: center;
	padding: 0 40px;
	color: #005073;
}

.qualidade_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
	color: #005073;
}

.qualidade_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #005074;
	margin: 6px auto;
}

/*Quebra*/

.quebra {
	width: 100%;
	height: 220px;
	background: url("../img/quebra-home.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 40px;
}

.quebra .quote-externo {
	max-width: 400px;
}

/*Footer*/

.footer {
	width: 100%;
	background: #005073;
	color: #fff;
	padding: 20px 0;
}

.footer h3 {
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 6px 0 12px 0;
}

.footer_historia {
	padding-right: 40px;
}

.footer_contato ul li {
	font-size: 14px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer_redes ul li {
	display: inline-block;
	margin-right: 10px;
}

.footer_redes ul li a {
	border: 3px solid #fff;
	display: block;
	padding: 10px;
	transition: all .5s ease;
}

.footer_redes ul li a:hover {
	border-color: #bd7f42;
}

.copy {
	width: 100%;
	background: #bd7f42;
	padding: 20px 0;
}
.grid-16 {
	color: #fff;
}

/*Animações*/

.js .introducao h1, .js .introducao blockquote, .js .introducao .btn, .js .animar, .js .animar-interno, .js .introducao-interna h1, .js .introducao-interna p {
	opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}