body {
  background-color: #eeeeee;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 100px;
}

.card.comments {
  margin-left: 20px;
  margin-right: 20px;
}

.card-title,
.card-footer a {
  color: #005073;
}


.card-header .btn {
  border: 0;
  min-width: auto;
  margin: 0;
  padding: 10px;
}

.card-header .btn:hover {
  color: #bd7f42;
  text-decoration: none;
}

.card-header .nav-link {
  color: #005073;
}

.card-footer a:hover {
  color: #bd7f42;
}

.card.new-comment {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin-top: -2px;
}

.title-comentarios {
  color: #005073;
  font-size: 18px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.meus-pets .pet,
.padrinhos .padrinho  {
  float: left;
  margin-right: 10px;
}

.meus-pets .pet .modal-dialog {
  max-width: 600px;
}

.meus-pets .pet .modal-dialog {
  font-size: 14px;
}

.meus-pets .pet .modal-body h5 {
  margin-bottom: 12px;
}

.meus-pets .btn-adicionar {
  font-weight: normal;
  border-width: 2px;
  margin: 20px 0 5px 0;
  width: 100%;
}

.meus-pets .btn-adicionar:hover {
  color: #bd7f42;
  border-color: #bd7f42;
}

.gedf-card {
  margin-bottom: 12px;
}

.toolbar .btn {
  margin-bottom: 0;
  color: #fff;
  background-color: #005073;
  border: 0;
  font-weight: normal;
}

.toolbar .btn:hover {
  background-color: #bd7f42;
}

footer {
  margin-top: 20px;
}
