
.introducao_interna
.interna_integrantes  {
	background: url("../img/time2.jpg") no-repeat center;
	background-size: cover;
}

.integrantes {
	padding: 60px 0;
	color: #fff;
}
.integrantes_lista{
	margin-bottom: 20px;
	overflow: hidden;
}

.integrantes_lista li{
	background: #bd7f42;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.integrantes_lista li img {
	margin: 0 auto;
}

.integrantes_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.integrantes_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	color: #456877;
    margin: 2px auto;
}



.integrantes_icone {
	background: #b9b9b9;
	padding: 20px;
}

.introducao-interna img {
    width: 100%;
    height: 160px;
    text-align: center;
    color: #fff;
}

