.interna_pets  {
	background: url("../img/bg-pets3.jpg") no-repeat center;
	background-size: cover;
}
.animais.container li {
	background: #bd7f42;
	text-align: center;
	margin-bottom: 20px;

}

.animais.container li:hover {
	cursor: pointer;
	background: #005073;
}

.animais.container li img {
	margin: 0 auto;
}


.interna_pets h1{
	padding-top: 20px;
}
