.interna_sobre {
	background: url("../img/bg-sobre.jpg") no-repeat center;
	background-size: cover;
	background-color: #696969;
}

.missao_sobre {
	padding-top: 60px;
}

.missao_sobre p {

	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 60px;
	color: #005073;
}

.missao_sobre ul li {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 30px;
}

.foto-equipe {
	padding-top: 20px;
}
.qualidade-lista li p{
	color: #005073;
}