<div *ngIf="token.getRoleType() === 'user'">
<div class="container m-4">
  <tr *ngFor="let post of posts | async | orderBy: key : reverse; let i = index">
    <div class="card gedf-card mt-4">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
            </div>
            <div class="ml-2">
              <div class="h5 m-0">@Administrador</div>
              <div class="h7 text-muted">Administrador</div>
            </div>
          </div>
          <div class="btn-group botão-post" dropdown style="margin-left: 110px">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                CONFIGURAÇÃO
              <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">EDITAR</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="openModal(template)">DELETAR</a></li>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Você deseja deletar o post?</p>
                  <button type="button" class="btn btn-default" (click)="deletePost(post.id)" >Sim</button>
                  <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
                </div>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
      </div>
      <div class="card-footer" id="post">
        <a href="#post" class="card-link"><i class="fa fa-gittip"></i> Gostei</a>
        <a href="#post" class="card-link"><i class="fa fa-comment"></i> Comentar</a>
      </div>
      <app-create-comment></app-create-comment>
      <app-comment-list></app-comment-list>
    </div>
  </tr>
</div>
</div>
