<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Helpets</title>
  <meta name="description" content="Adote ou apadrinhe um bichinho de estimação.">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Helpets"/>
  <meta property="og:description" content="Adote um animal de estimação"/>
  <meta property="og:url" content="http://helpets.org"/>
  <meta property="og:image" content="http://helpets.org/img/logo.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/responsivo.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
  <script src="/assets/js/libs/modernizr.custom.45655.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/cadastro.css">
  
</head>
<body>

		<header class="header">
			<div class="container">
				<a href="/" class="grid-4">
					<img class="logo" src="/assets/img/logos.png" alt="Helpets">
				</a>
				<nav class="grid-12 header_menu">
					<ul>
						<li><a href="/sobre">Sobre</a></li>
						<li><a href="/pets">Pets</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/contato">Contato</a></li>
					</ul>
				</nav>
			</div>
    </header>
    
      <div class="page-cadastro">
        <!-- FORMULÁRIO -->
        <div class="container">
          <h1 class="text-center">CADASTRO</h1>

          <!-- <div [hidden]="submitted" style="width: 400px;"> -->
          <div [hidden]="submitted">


                <app-register></app-register>

          </div>

          <div [hidden]="!submitted">
            <h4>Usuário criado com sucesso!</h4>
            <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
          </div>
        </div>

        <footer>
            <div class="footer">
              <div class="container">
      
                <div class="grid-8 footer_historia">
                  <h3>Nossa História</h3>
                  <p>Nossa existência é fruto da vontade de resolver os problemas de abandono de animais e encontrar quem queira nos ajuadar nessa missão, apadrinhando ou adotando.</p>
                </div>
      
                <div class="grid-4 footer_contato">
                  <h3>Contato</h3>
                  <ul>
                    <li>- +55 11-2564-6425</li>
                    <li>- contato@helpets.com</li>
                    <li>- São Paulo - SP</li>
                  </ul>
                </div>
      
                <div class="grid-4 footer_redes">
                  <h3>Contato</h3>
                  <ul>
                    <li><a href="http://facebook.com" target="_blank"><img src="assets/img/facebook.png" alt="Facebook Helpets"></a></li>
                    <li><a href="http://instagram.com" target="_blank"><img src="assets/img/instagram.png" alt="Instagram Helpets"></a></li>
                    <li><a href="http://twitter.com" target="_blank"><img src="assets/img/twitter.png" alt="Twitter Helpets"></a></li>
                  </ul>
                </div>
      
              </div>
            </div>
      
            <div class="copy">
              <div class="container">
                <p class="grid-16">Helpets 2019 - Alguns direitos reservados.</p>
              </div>
            </div>
          </footer>
