<h2>Detalhes das doações</h2>

<hr/>
<div *ngIf="post">
  <div>
    <label><b>Comida: </b></label> {{post.title}}
  </div>
  <div>
    <label><b>Comida: </b></label> {{post.postImage}}
  </div>
  <div>
    <label><b>Comida: </b></label> {{post.content}}
  </div>
</div>

<br>
<br>
<button (click)="listPosts()" class="btn btn-primary">Voltar para lista de doações</button><br>
