          <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


            <div class="form-group">
              <label class="col-md-3 control-label" for="nome">Nome Completo</label>
              <div class="col-md-6">
                <input type="text" class="form-control input-md" id="nome" required [(ngModel)]="form.name" name="name" #name="ngModel">
              </div>
              <div *ngIf="f.submitted && name.invalid">
                <div class="error" *ngIf="name.errors.required">O campo nome é obrigatório</div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="username">Usuário</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="username" required [(ngModel)]="form.username" name="username" #username="ngModel">
              </div>
              <div *ngIf="f.submitted && username.invalid">
                <div class="error" *ngIf="username.errors.required">O campo usuário é obrigatório</div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Email</label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="text" class="form-control" placeholder="email@email.com"
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" required [(ngModel)]="form.email"
                         name="email" #email="ngModel">
                </div>
              </div>
              <div *ngIf="f.submitted && email.invalid">
                <div class="error" *ngIf="email.errors.required">O campo e-mail é obrigatório</div>
                <div class="error" *ngIf="email.errors.email">Por favor, preencha com um e-mail válido</div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="password">Senha</label>
              <div class="col-md-6">
                <input type="password" class="form-control" id="password" required [(ngModel)]="form.password" name="password" minlength="8" #password="ngModel">
              </div>
              <div *ngIf="f.submitted && password.invalid">
                <div class="error" *ngIf="password.errors.required">Por favor, preencha o campo senha</div>
                <div class="error" *ngIf="password.errors.minlength">O campo senha deve ter mais que 8
                  caracteres
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="cpf">CPF</label>
              <div class="col-md-6">
                <input type="text" placeholder="Apenas números" class="form-control input-md" maxlength="11"
                       pattern="[0-9]+$" id="cpf" required [(ngModel)]="form.cpf" name="cpf" #cpf="ngModel">
              </div>
              <div *ngIf="f.submitted && cpf.invalid">
                <div class="error" *ngIf="cpf.errors.required">O campo e-mail é obrigatório</div>
              <div class="error" *ngIf="cpf.errors.maxlength">O campo CPF deve ter 11 caracteres</div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="birthDate">Nascimento</label>
              <div class="col-md-6">
                <input type="text" class="form-control input-md" placeholder="DD/MM/AAAA" maxlength="10"
                       onkeypress="formatar('##/##/####', this)" id="birthDate" required
                       [(ngModel)]="form.birthDate" name="birthDate" #birthDate="ngModel">
              </div>
              <div *ngIf="f.submitted && birthDate.invalid">
                <div class="error" *ngIf="birthDate.errors.required">O campo usuário é obrigatório</div>
              </div>
            </div>


            <div class="form-group">
              <label  class="col-md-3 control-label" for="phone">Telefone</label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                  <input type="text" class="form-control" placeholder="XX XXXXX-XXXX" maxlength="13"
                         pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" id="phone"
                         required [(ngModel)]="form.phones" name="phones" #phones="ngModel">
                </div>
              </div>
              <div *ngIf="f.submitted && phones.invalid">
                <div class="error" *ngIf="phones.errors.required">O campo usuário é obrigatório</div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="zipCode">CEP</label>
              <div class="col-md-3">
                <input type="text" class="form-control input-md" placeholder="Apenas números" maxlength="8"
                       pattern="[0-9]+$" id="zipCode" required [(ngModel)]="form.zipCode" name="zipCode" #zipCode="ngModel">
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-primary pull-right pesquisar" onclick="pesquisacep(zipCode.value)">Pesquisar</button>
              </div>
              <div *ngIf="f.submitted && zipCode.invalid">
                <div class="error" *ngIf="zipCode.errors.required">O campo CEP é obrigatório</div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="address"><strong>Endereço</strong></label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Rua</span>
                  <input type="text" class="form-control" readonly="readonly" id="address"
                         [(ngModel)]="form.addRess" name="addRess">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Nº</span>
                  <input type="text" class="form-control" id="number" required [(ngModel)]="form.number" name="number" #number="ngModel">
                </div>
                <div *ngIf="f.submitted && number.invalid">
                  <div class="error" *ngIf="number.errors.required">O campo numero é obrigatório</div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Bairro</span>
                  <input type="text" class="form-control" readonly="readonly" id="neighborhood"
                         [(ngModel)]="form.neighborhood" name="neighborhood">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Cidade</span>
                  <input type="text" readonly="readonly" class="form-control" id="city" [(ngModel)]="form.city"
                         name="city">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Estado</span>
                  <input type="text" class="form-control" readonly="readonly" id="state"
                         name="state">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Complemento</span>
                  <input id="complemento" name="complemento" class="form-control" type="text">
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-md-12 text-center">
                <button id="Cadastrar" name="Cadastrar" class="btn btn-success" (click)="goToLogin()">Criar</button>
              </div>
              <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                Ocorreu uma falha:<br/>{{errorMessage}}
              </div>
            </div>
          </form>

