<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Helpets</title>
  <meta name="description" content="Adote ou apadrinhe um bichinho de estimação.">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Helpets"/>
  <meta property="og:description" content="Adote um animal de estimação"/>
  <meta property="og:url" content="http://helpets.org"/>
  <meta property="og:image" content="http://helpets.org/img/logo.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/login.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
  <script src="/assets/js/libs/modernizr.custom.45655.js"></script>
</head>

<body class="page-login">

<header class="header">
  <div class="container">
    <a href="/" class="grid-4">
      <img class="logo" src="/assets/img/logos.png" alt="Helpets">
    </a>
    <nav class="grid-12 header_menu">
      <ul>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/pets">Pets</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class="container-full">

  <div class="col-6 no-margin no-padding float-left image-login">

  </div>

  <div class="col-6 no-margin no-padding float-left">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
							<span class="login100-form-title p-b-34">
								Acessar Conta
							</span>

            <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
              <input id="first-name" class="input100" type="text" name="username" placeholder="Usuário" [(ngModel)]="form.username" #username="ngModel" required>
              <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required"><span class="error">Por favor, preencha o campo usuário</span></div>
              </div>

            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
              <input class="input100" type="password" name="pass" placeholder="Senha" [(ngModel)]="form.password" #password="ngModel" required minlength="8">
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required"><span class="error">Por favor, preencha o campo senha</span></div>
                <div *ngIf="password.errors.minlength"><span class="error">O campo senha deve ter mais que 8 caracteres</span></div>
              </div>

            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">Entrar</button>
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                <span class="error">Falha no login: {{errorMessage}}</span>
              </div>
            </div>

            <div class="w-full text-center p-t-27 p-b-220">
								<span class="txt1">
									Esqueceu
								</span>

              <!-- Botão para acionar modal -->
              <a href="#" class="txt2" data-toggle="modal" data-target="#ExemploModalCentralizado">
                Usuário / Senha?
              </a>

              <!-- Modal -->
              <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><strong>Recuperação de usuário / senha</strong></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Foi enviado um email de recuperação para seu email!
                    </div>

                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                  </div>
                </div>
              </div>

            </div>

            <div class="w-full text-center">
              <a href="/cadastro" class="txt3">
                Inscrever-se
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <img src="" alt="">

</div>

<footer>
  <div class="footer">
    <div class="container">

      <div class="grid-8 footer_historia">
        <h3>Nossa História</h3>
        <p>Nossa existência é fruto da vontade de resolver os problemas de abandono de animais e encontrar quem queira nos ajuadar nessa missão, apadrinhando ou adotando.</p>
      </div>

      <div class="grid-4 footer_contato">
        <h3>Contato</h3>
        <ul>
          <li>- +55 11-2564-6425</li>
          <li>- contato@helpets.com</li>
          <li>- São Paulo - SP</li>
        </ul>
      </div>

      <div class="grid-4 footer_redes">
        <h3>Contato</h3>
        <ul>
          <li><a href="http://facebook.com" target="_blank"><img src="/assets/img/facebook.png" alt="Facebook Helpets"></a></li>
          <li><a href="http://instagram.com" target="_blank"><img src="/assets/img/instagram.png" alt="Instagram Helpets"></a></li>
          <li><a href="http://twitter.com" target="_blank"><img src="/assets/img/twitter.png" alt="Twitter Helpets"></a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="copy">
    <div class="container">
      <p class="grid-16">Helpets 2019 - Alguns direitos reservados.</p>
    </div>
  </div>
</footer>
</body>
