<h2>Detalhes do usuário</h2>

<hr/>
<div *ngIf="animal">
  <div>
    <label><b>Nome: </b></label> {{animal.animalName}}
  </div>
  <div>
    <label><b>Tipo: </b></label> {{animal.type}}
  </div>
  <div>
    <label><b>Raça: </b></label> {{animal.breed}}
  </div>
  <div>
    <label><b>Idade: </b></label> {{animal.age}}
  </div>
  <div>
    <label><b>Porte: </b></label> {{animal.size}}
  </div>
  <div>
    <label><b>Porte: </b></label> {{animal.weight}}
  </div>
  <div>
    <label><b>Cor: </b></label> {{animal.mainColor}}
  </div>
  <div>
    <label><b>Vacina: </b></label> {{animal.vaccine}}
  </div>
</div>

<br>
<br>
<button (click)="listAnimal()" class="btn btn-primary">Voltar para lista de animais</button><br>
