<div class="container">
  <h1 class="text-center">DOAÇÕES</h1>
  <div [hidden]="submitted" style="width: 400px;">
    <form class="form-horizontal" (ngSubmit)="onSubmit()">
      <fieldset>


        <div class="form-group">
          <label for="food">Comida</label>
          <input type="text" class="form-control input-md" id="food" required [(ngModel)]="donation.food" name="food">
        </div>

        <div class="form-group">
          <label for="groom">Banho e Tosa</label>
          <input type="text" class="form-control input-md" id="groom" required [(ngModel)]="donation.groom" name="groom">
        </div>

        <div class="form-group">
          <label for="medication">Medicamentos</label>
          <input type="text" class="form-control input-md" id="medication" required [(ngModel)]="donation.medication" name="medication">
        </div>

        <div class="form-group">
          <label for="accessory">Acessórios</label>
          <input type="text" class="form-control input-md" id="accessory" required [(ngModel)]="donation.accessory" name="accessory">
        </div>

        <div class="form-group">
          <button type="submit" id="Cadastrar" name="Cadastrar" class="btn btn-success">Doar</button>
        </div>
      </fieldset>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>Doação feita com sucesso!</h4>
    <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
  </div>
</div>
