<tr *ngFor="let comment of comments| async">
        <div class="card gedf-card comments mt-4">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                  <img class="rounded-circle" width="30" src="https://picsum.photos/50/50" alt="">
                </div>
                <div class="ml-2">
                  <div class="h5 m-0">@Suzi</div>
                  <div class="h7 text-muted">Madrinha</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
            <p class="card-text">{{comment.content}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Gostei</a>
          </div>
        </div>
      </tr>
