<div *ngIf="token.getRoleType() === 'user'" class="body">

<html lang=pt-br>

<head>
	<title>Cadastro</title>
	<meta charset="UTF-8">
	<meta name="description" content="Adote ou apadrinhe um bichinho de estimação.">

	<meta property="og:type" content="website" />
	<meta property="og:title" content="Helpets" />
	<meta property="og:description" content="Adote um animal de estimação" />
	<meta property="og:url" content="http://helpets.org" />
	<meta property="og:image" content="http://helpets.org/img/logo.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico">

	<link rel="stylesheet" href="/assets/css/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
		id="bootstrap-css">
		<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/responsivo.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	<script src="/assets/js/libs/modernizr.custom.45655.js"></script>



	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/cadapets.css">

</head>

<body>

	<header class="header">
		<div class="container">
			<a href="/home" class="grid-4">
				<img class="logo" src="/assets/img/logos.png" alt="Helpets">
			</a>
			<nav class="grid-12 header_menu">
				<ul>
					<li>
						<a href="/sobre">Sobre</a>
					</li>
					<li>
						<a href="/pets">Pets</a>
					</li>
					<li>
						<a href="/login">Login</a>
					</li>
					<li>
						<a href="/contato">Contato</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<br>
	<br>
	<br>
	<br>
	<div class="page-cadastro">
    
    <!-- FORMULÁRIO -->
<div class="container">
  <h1 class="text-center">CADASTRO ANIMAIS</h1>
  <div [hidden]="submitted">
    <form class="form-horizontal" (ngSubmit)="onSubmit()">
      <fieldset>


        <div class="form-group">
          <label class="col-md-3 control-label" for="animalName">Nome</label>
          <div class="col-md-6">
            <input type="text" class="form-control input-md" id="animalName" required [(ngModel)]="animal.animalName" name="animalName">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="type">Tipo</label>
          <div class="col-md-6">
            <input type="text" class="form-control input-md" id="type" required [(ngModel)]="animal.type" name="type">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="breed">Raça</label>
          <div class="col-md-6">
            <input type="text" class="form-control input-md" id="breed" required [(ngModel)]="animal.breed" name="breed">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="age">Idade</label>
          <div class="col-md-6">
            <input class="form-control input-md" id="age" required [(ngModel)]="animal.age" name="age">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="size">Porte</label>
          <div class="col-md-6">
            <input class="form-control input-md" id="size" required [(ngModel)]="animal.size" name="size">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="weight">Peso</label>
          <div class="col-md-6">
            <input class="form-control input-md" id="weight" required [(ngModel)]="animal.weight" name="weight">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="mainColor">Cor</label>
          <div class="col-md-6">
            <input class="form-control input-md" id="mainColor" required [(ngModel)]="animal.mainColor" name="mainColor">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="vaccine">Vacina</label>
          <div class="col-md-6">
            <input type="checkbox" class="form-control input-md" style="width:21px;" id="vaccine" required [(ngModel)]="animal.vaccine" name="vaccine">
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-12 text-center">
            <button type="submit" id="Cadastrar" name="Cadastrar" class="btn btn-success">Cadastrar</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>Usuário criado com sucesso!</h4>
    <button class="btn btn-success" (click)="newAnimal()">Add</button>
  </div>
</div>

</div>

<footer>
  <div class="footer">
    <div class="container">

      <div class="grid-8 footer_historia">
        <h3>Nossa História</h3>
        <p>Nossa existência é fruto da vontade de resolver os problemas de abandono de animais e encontrar
          quem queira nos ajuadar
          nessa missão, apadrinhando ou adotando.</p>
      </div>

      <div class="grid-4 footer_contato">
        <h3>Contato</h3>
        <ul>
          <li>- +55 11-2564-6425</li>
          <li>- contato@helpets.com</li>
          <li>- São Paulo - SP</li>
        </ul>
      </div>

      <div class="grid-4 footer_redes">
        <h3>Contato</h3>
        <ul>
          <li>
            <a href="http://facebook.com" target="_blank">
              <img src="assets/img/facebook.png" alt="Facebook Helpets">
            </a>
          </li>
          <li>
            <a href="http://instagram.com" target="_blank">
              <img src="assets/img/instagram.png" alt="Instagram Helpets">
            </a>
          </li>
          <li>
            <a href="http://twitter.com" target="_blank">
              <img src="assets/img/twitter.png" alt="Twitter Helpets">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="copy">
    <div class="container">
      <p class="grid-16">Helpets 2019 - Alguns direitos reservados.</p>
    </div>
  </div>
</footer>

</body>

</html>
</div>

<div *ngIf="!token.getRoleType()" class="nav-item">
  <alert type="info">
    <h4 class="alert-heading">Você não está logado!</h4>
    <p>Para acessar essa página é preciso está logado em nosso sistema, clique em login e entre na sua conta</p>
    <a class="nav-link" href="/login">LOGIN</a>
  </alert>
</div>

