<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de doações</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Comida</th>
        <th>Banho e Tosa</th>
        <th>Medicamentos</th>
        <th>Acessório</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let donation of donations | async">
        <td>{{donation.food}}</td>
        <td>{{donation.groom}}</td>
        <td>{{donation.medication}}</td>
        <td>{{donation.accessory}}</td>
        <td><button (click)="deleteDonation(donation.id)" class="btn btn-danger">Deletar</button>
          <button (click)="donationDetails(donation.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
