<!DOCTYPE html>
<html lang=pt-br>
<head>
	<title>Contato</title>
	<meta charset="UTF-8">
	<meta name="description" content="Adote ou apadrinhe um bichinho de estimação.">

		<meta property="og:type" content="website"/>
		<meta property="og:title" content="Helpets"/>
		<meta property="og:description" content="Adote um animal de estimação"/>
		<meta property="og:url" content="http://helpets.org"/>
		<meta property="og:image" content="http://helpets.org/img/logo.png"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>
		
		<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/contato.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/responsivo.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">

		<script src="/assets/js/libs/modernizr.custom.45655.js"></script>

</head>

<body>
	<header class="header">
			<div class="container">
				<a href="/home" class="grid-4">
					<img class="logo" src="/assets/img/logos.png" alt="Helpets">
				</a>
				<nav class="grid-12 header_menu">
					<ul>
						<li><a href="/sobre">Sobre</a></li>
						<li><a href="/pets">Pets</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/contato">Contato</a></li>
					</ul>
				</nav>
			</div>
		</header>



		<div class="container-contact100">
				<div class="wrap-contact100">
					<form class="contact100-form validate-form">
						<span class="contact100-form-title p-b-34">
							Contate-nos
						</span>
		
						
						<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Digite seu nome">
							<input id="nome" class="input100" type="text" name="nome" placeholder="Nome">
						</div>
						<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type Sobrenome">
							<input class="input100" type="text" name="sobrenome" placeholder="Sobrenome">
						</div>
		
						
						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
							<input id="email" class="input100" type="text" name="email" placeholder=" exemplo@email.com">
						</div>
		
					
						<div class="wrap-input100">
							<input id="phone" class="input100" type="text" name="phone" placeholder="+55 xx-xxxxx-xxxx">
						</div>
		
					
						<div class="wrap-input100 validate-input" data-validate = "Message is required">
							<textarea id="message" class="input100" name="message" placeholder="Escreva uma mensagem"></textarea>
						</div>
		
						<div class="container-contact100-form-btn">
							<button type="button" class="btn contact100-form-btn" (click)="openModal(template)">
								Enviar
							</button>
              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left"><strong>Enviado!</strong></h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Sua mensagem de contato foi enviada aos administradores!
                </div>
              </ng-template>
						</div>

					</form>
						
					<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/img/bg-contato1.jpg')">
						<div class="flex-w size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="lnr lnr-map-marker"></span>
							</div>
		
							<div class="flex-col size2">
								<span class="txt1 p-b-20">
									Endereço
								</span>
		
								<span class="txt2">
									Avenida Paulista, 0101, São Paulo, SP
								</span>
							</div>
						</div>
		
						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="lnr lnr-phone-handset"></span>
							</div>
		
							<div class="flex-col size2">
								<span class="txt1 p-b-20">
									Fale Conosco
								</span>
		
								<span class="txt3">
									+55 11-2564-6425
								</span>
							</div>
						</div>
		
						<div class="dis-flex size1 p-b-47">
							<div class="txt1 p-r-25">
								<span class="lnr lnr-envelope"></span>
							</div>
		
						
		
								<span class="txt3">
									contato@helpets.com
								</span>
							</div>
						</div>
					</div>
				</div>
			
			<footer>
				<div class="footer">
					<div class="container">
	
						<div class="grid-8 footer_historia">
							<h3>Nossa História</h3>
							<p>Nossa existência é fruto da vontade de resolver os problemas de abandono de animais e encontrar quem queira nos ajuadar nessa missão, apadrinhando ou adotando.</p>
						</div>
	
						<div class="grid-4 footer_contato">
							<h3>Contato</h3>
							<ul>
								<li>- +55 11-2564-6425</li>
								<li>- contato@helpets.com</li>
								<li>- São Paulo - SP</li>
							</ul>
						</div>
	
						<div class="grid-4 footer_redes">
							<h3>Contato</h3>
							<ul>
								<li><a href="http://facebook.com" target="_blank"><img src="/assets/img/facebook.png" alt="Facebook Helpets"></a></li>
								<li><a href="http://instagram.com" target="_blank"><img src="/assets/img/instagram.png" alt="Instagram Helpets"></a></li>
								<li><a href="http://twitter.com" target="_blank"><img src="/assets/img/twitter.png" alt="Twitter Helpets"></a></li>
							</ul>
						</div>
	
					</div>
				</div>
	
				<div class="copy">
					<div class="container">
						<p class="grid-16">Helpets 2019 - Alguns direitos reservados.</p>
					</div>
				</div>
			</footer>

</body>
</html>
