<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de animais</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Raça</th>
        <th>Idade</th>
        <th>Porte</th>
        <th>Peso</th>
        <th>Cor</th>
        <th>Vacina</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animals | async">
        <td>{{animal.animalName}}</td>
        <td>{{animal.type}}</td>
        <td>{{animal.breed}}</td>
        <td>{{animal.age}}</td>
        <td>{{animal.size}}</td>
        <td>{{animal.weight}}</td>
        <td>{{animal.mainColor}}</td>
        <td>{{animal.vaccine}}</td>
        <td><button (click)="deleteAnimal(animal.id)" class="btn btn-danger">Deletar</button>
          <button (click)="animalDetails(animal.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
