  <div [hidden]="submitted" style="width: 700px;">
    <form (ngSubmit)="onSubmit()" class="form-horizontal" enctype="multipart/form-data">
        <!--- \\\\\\\Post-->
        <div class="card gedf-card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a aria-controls="posts" aria-selected="true" class="nav-link active" data-toggle="tab" href="#posts"
                   id="posts-tab" role="tab">Publicação</a>
              </li>
              <li class="nav-item">
                <a aria-controls="images" aria-selected="false" class="nav-link" data-toggle="tab" href="#images"
                   id="images-tab" role="tab">Imagens</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div aria-labelledby="posts-tab" class="tab-pane fade show active" id="posts"
                   role="tabpanel">

                <div class="form-group">
                  <input class="form-control" [(ngModel)]="post.title"  placeholder="Título" type="text" name="title">
                </div>
                <div class="form-group">
                  <textarea style="resize: none" class="form-control" [(ngModel)]="post.content" id="message" placeholder="Mensagem" rows="3" name="content" maxlength="1000"></textarea>
                </div>
              </div>


              <div aria-labelledby="images-tab" class="tab-pane fade" id="images" role="tabpanel">
                <div class="form-group">
                  <div class="custom-file">
                    <input class="custom-file-input" [(ngModel)]="post.postImage" accept='image/*' id='customFile' type="file" name="postImage">
                    <label class="custom-file-label" for="customFile">Carregar</label>
                  </div>
                </div>
                <div class="py-4"></div>
              </div>
            </div>
            <div class="toolbar">
              <button class="btn btn-primary float-right" type="submit">Publicar</button>
            </div>
          </div>
          <div [hidden]="!submitted">
            <h4>Publicação feita com sucesso!</h4>
            <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
          </div>

        </div>
    </form>
  </div>

  <app-post-list></app-post-list>
  <app-comment-list></app-comment-list>
