  <div [hidden]="submitted" style="width: 100%;padding: 0px;">
    <form class="form-horizontal" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="card gedf-card new-comment">
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="posts" role="tabpanel"
                   aria-labelledby="posts-tab">
                <div class="form-group">
                  <label class="sr-only" for="message">post</label>
                  <textarea style="resize: none" [(ngModel)]="comment.content" class="form-control" id="message" rows="3" placeholder="Deixe seu comentário aqui" name="content"></textarea>
                </div>
              </div>
            </div>
            <div class="toolbar">
              <button type="submit" class="btn btn-primary float-right">Comentar</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
