/*Footer*/

.footer {
  width: 100%;
  background: #005073;
  color: #fff;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fff;
  display: block;
  padding: 10px;
  transition: all .5s ease;
}

.footer_redes ul li a:hover {
  border-color: #bd7f42;
}

.copy {
  width: 100%;
  background: #bd7f42;
  padding: 20px 0;
}
.grid-16 {
  color: #fff;
}
