<h2>Detalhes das doações</h2>

<hr/>
<div *ngIf="comment">
  <div>
    <label><b>Conteúdo: </b></label> {{comment.content}}
  </div>
</div>

<br>
<br>
<button (click)="listComments()" class="btn btn-primary">Voltar para o feed</button><br>
