<h2>Detalhes das doações</h2>

<hr/>
<div *ngIf="donation">
  <div>
    <label><b>Comida: </b></label> {{donation.food}}
  </div>
  <div>
    <label><b>Banho e Tosa: </b></label> {{donation.groom}}
  </div>
  <div>
    <label><b>Medicamentos: </b></label> {{donation.medication}}
  </div>
  <div>
    <label><b>Acessórios: </b></label> {{donation.accessory}}
  </div>
</div>

<br>
<br>
<button (click)="listDonations()" class="btn btn-primary">Voltar para lista de doações</button><br>
